<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <pre>
        {% if messages %} 
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %} 
        {% endif %}
    </pre>
    <div class='header'>
        <a href="/travels">Home | </a>
        <a href="/logout">Logout</a>
    </div>

    <pre>
        {{travel.destination}}
        Planned by: {{travel.creator}}
        Description: {{travel.description}}
        Travel Date From: {{travel.date_from}}
        Travel Date To: {{travel.date_to}}

        Other users joining
        {% for traveller in joined_list %}
            {{traveller.name}}
        {% endfor %}

    </pre>

</body>

</html>